# Node
node_modules/

# Vite
dist/
dist-electron/

# Electron
release/

# Storybook
storybook-static/

# Playwright
test-results/
playwright-report/
playwright/.cache/

# electron-vite-react
.vscode/.debug.env

# Idea IntelliJ
.idea/
