/* Common BitGo styles across the application. */

/* Primary Colors */
$blue: #00AEEF;
$blue-light: #C6EAFA;
$blue-medium: #00AEEF;
$blue-dark: #0684AC;
$blue-very-dark: #142834;

$gray: #C4C4C4;
$gray-light: #F5F5F5;
$gray-very-light: #f9f9f9;
$gray-medium: #C4C4C4;
$gray-dark: #8E9091;
$gray-very-dark: #414042;
$gray-super-dark: #282828;

/* Secondary Colors */
$green: #37AD4F;
$green-light: #DFF0D8;
$green-medium: #37AD4F;
$green-dark: #3B8C50;
$green-very-dark: #184C24;

$red: #C51112;
$red-light: #EDB9BF;
$red-medium: #C51112;
$red-dark: #990E15;
$red-very-dark: #5E0d18;

$yellow: #EFE2AB;
$yellow-light: #FCF8E3;
$yellow-medium: #EFE2AB;
$yellow-dark: #8A6D3B;
$yellow-very-dark: #47351B;

$orange: #FBB040;
$violet: #9162A0;
$white: #fff;

$error-color: $red;

.input-text {
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  margin-bottom: 12px;
  margin-top: 12px;
  position: relative;
}

.input-text.invalid {
  border-color: $error-color;
}

.input-text input {
  font-size: 20px;
  display: block;
  font-weight: normal;
  border: 0;
  color: #4d575f;
  padding: 10px 10px 11px 10px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

.input-rules {
  outline: none !important;
  border: 1px solid $gray;
  display: inline-block;
  font-size: 16px;

  &:focus {
    border-color: $blue;
    color: $gray-very-dark;
  }

  &.has-errors {
    border-color: $red;
    color: $gray-dark;

    &:focus {
      color: $gray-very-dark;
    }
  }

  &.valid {
    border-color: $green;
  }

  &:disabled {
    background-color: $gray;
    color: $white;
    font-weight: 700;
  }

  /* Placeholder settings */
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $gray-dark;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $gray-dark;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $gray-dark;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $gray-dark;
  }
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=url],
input[type=tel] {
  @extend .input-rules;
  height: 40px;
  padding-left: 16px;
  width: 100%;
}

textarea {
  @extend .input-rules;
  padding: 16px;
  width: 100%;
}

.input-label {
  font-size: 18px;
}

button:not(.exclude) {
  @extend .btn;

  color: $white;
  border: 1px solid $blue;
  background-color: $blue;

  text-transform: uppercase;
  height: 32px;
  min-width: 64px;
  padding: 0px 32px;
  @include border-radius(24px);

  &:focus {
    color: $white;
  }

  &:active {
    box-shadow: none;
  }

  &:hover {
    color: $white;
    border-color: $blue-dark;
    background-color: $blue-dark;
  }

  &.disabled, &:disabled {
    color: $gray;
    background-color: $white;
    border-color: $gray;
  }

  /* Large button */
  &.large {
    width: 100%;
  }

  /* Secondary button */
  &.secondary {
    color: $blue;
    border-color: $blue;
    background-color: $white;

    &:hover {
      color: $blue !important;
      background-color: $blue-light;
    }

    &.disabled, &:disabled {
      color: $white !important;
      background-color: $gray;
      border-color: $gray-dark;
    }
  }

  /* Other button*/
  &.other {
    color: $gray-dark;
    border-color: $gray-dark;
    background-color: $white;

    &:hover {
      background-color: $gray-light;
    }

    &.disabled, &:disabled {
      color: $white;
      background-color: $gray;
      border-color: $gray-dark;
    }
  }

  &.negative {
    color: $red;
    background-color: $white;
    border-color: $red;

    &:hover{
      background-color: $red-light;
    }

    &.disabled, &:disabled {
      display: none;
    }
  }
}